body {
    background-color: #6e186ee8;
}
h1 {
    text-align: center;
    color: white;
}
body p {
    text-align: center;
    color: white
}
#mainheader {
    margin-top: 90px;;
}
ul {
    list-style: none;
    display: inline;
    padding: 20px 20px;
    margin-top: 250px;
    font-size: 2rem;
    align-self: center;
}
li {
    background-color: indigo;
    display: inline;
    padding: 20px;
    align-self: center;
    border-radius: 15px;
    transition: 0.3s;
}
li:hover {
    background-color: rgb(147, 64, 206);
    color: white
}
