* {
    box-sizing: border-box;
    margin: 0;

}

:root {
    --color1: #D6C2C7;
    --color2: #DAD4EF;
    --color3: #414770;
    --color4: #372248;
    --color5: #241B37;
} 
body {
    background-color: var(--color2);
    margin: 0;
    margin-left: 0;
}
.navlist {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 0;
    color: white;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content:center;
    box-shadow: 0px 1px 5px black;
    flex-wrap: wrap;
    background-image: linear-gradient(var(--color3), var(--color4));
    z-index: ;
}
li {
    border-radius: 5px;
    padding: 1.15rem 10px;
    display:flex;
    font-size: 1.5rem;
    transition: 0.5s;
    transition-property: background-color;
}
li:hover {
    background-color: var(--color3);
    color: var(--color1);
    cursor: pointer;
}
#mainheader {
    align-items: center;
    
}
.headerimage {
    display: flexbox;
    background-image: url(Background.jpeg); 
    z-index: -1;
    width: 1000px;
    height: 400px;
    text-align: center;
    color: var(--color2);
    align-items: center;
}