.s1{
    top: 0px;
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image: url("HeaderImg.jpg");
    background-position: center-left;
    background-attachment: fixed ;
    background-color: #00000050;
    background-blend-mode: overlay;
    
}
h1 {
    padding: 13rem 10% 2rem 10%;
    font-family: 'Lilita One';
    font-size: 5rem;
    font-weight: 500;
    color: white;
    
}